<?xml version='1.0' encoding='utf-8'?>
<settings>
  <run_mode>fixed source</run_mode>
  <particles>100000</particles>
  <batches>100</batches>
  <inactive>10</inactive>
  <source particle="photon" strength="10">
    <space type="point">
      <parameters>15.248572363092949 -5.373628708678243 47.31390023437918</parameters>
    </space>
    <energy type="discrete">
      <parameters>500000.0 1</parameters>
    </energy>
  </source>
  <photon_transport>true</photon_transport>
</settings>
