# file
*sh
*xml
*h5
*out
plot_check.py
predict_static.py
train_model_2.py
train_model_S.py
use_filter_visualization.py
cc.py
cam.py
load_h5.py
*jv.py


# folder
three_dim/
archive/
figure_making/
figures/
mapping_data/
openmc/
runs/
save_fig/
save_model/
save_record/
slurm/
space4/
space3/
wandb/
jayson/



