
#files
*.xml
*.png
*.pt
*out
*.sh
*.h5
*.json
all_scalars.json
dataset_tetris_T_v2.py
gen_data_2source_axa_openmc_v1.py
gen_data_2src_axa_v1.2.py
gen_filter_discrete_tetris_2x3_v1.py
gen_filter_discrete_tetris_v2.py
cal_param_axa_v1.py
gen_openmc_data_discrete_tetrisJLSZ2x3_v1.py
mapping_tetris_v1.py
train_torch_openmc_tetris_2x3_v1.py
train_torch_openmc_tetris_2x3_v2.py
train_torch_openmc_tetris_axa_v1.py
filter_visualization.py
train_model_*

# folder
wandb/
space*
runs/
openmc/
archive/
archive_v1/
archive_v2/
figure_making/
figure*
save_fig/
__pycache__/

#openmc/

